.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-piece {
  padding: 5rem;
  margin: 1rem;
  border: 2px solid black;
}

.game-board {
  display: flex;
  flex-direction: column;
}

.game-board .row {
  display: flex;
  flex-direction: row;
}