.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-piece {
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  border: 2px solid black;
}

.game-board {
  display: flex;
  flex-direction: column;
}

.game-board .row {
  display: flex;
  flex-direction: row;
}

#reset-game-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.reset-game-form-content {
  display: flex;
  flex-direction: row;
}

.reset-game-form-content div {
  margin-right: 10px;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}